@import 'tailwindcss';

@theme {
  --color-kakao-yellow: #FEE500;
  --color-kakao-hover: #F7DD01;
  --animate-float: float 5s ease-in-out infinite;

  @keyframes float {
    50% {
      transform: translate(0, 10px);
    }
  }
}